name: Scope Testing

on: [push]

jobs:
  scope:
    runs-on: macOS-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Scope for iOS
        uses: undefinedlabs/scope-for-ios-action@v1
        with:
          dsn: ${{ secrets.SCOPE_DSN }}
          
